@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background: linear-gradient(145deg, #414550, #181C1F);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  overflow: hidden;
}

@media (max-width: 991px) {
  body {
    overflow: auto;
    padding: 40px 20px 20px;
  }
}
.screen {
  max-width: 370px;
  width: 100%;
  min-height: 740px;
  background: #0E0E10;
  border-radius: 20px;
  padding: 40px 20px 0 20px;
  position: relative;
}
.screen:nth-child(1) {
  margin-top: -1rem;
}
.screen:nth-child(2) {
  margin-top: 1rem;
}
.screen header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.screen header .icon {
  font-size: 1.2rem;
  color: #4A4B4F;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.screen header .icon.profile {
  color: #fff;
  font-size: 1.6rem;
}
.screen header .left {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.screen header .left .label {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
}
.screen header .right {
  font-size: 1.4rem;
  color: #4A4B4F;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.screen .search {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  background: #161719;
  margin-top: 2rem;
}
.screen .search input {
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
}
.screen .search input::placeholder {
  color: #414550;
}
.screen .search .icon {
  height: 100%;
  display: flex;
  align-items: center;
  color: #414550;
  font-size: 1.4rem;
}
.screen .stories {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.screen .stories .story {
  width: 70px;
  height: 70px;
  min-height: 70px;
  min-width: 70px;
  border-radius: 50%;
  position: relative;
  border: 3px solid #E1239F;
  cursor: pointer;
  overflow: hidden;
}
.screen .stories .story::after {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #0E0E10;
  pointer-events: none;
}
.screen .stories .story img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s;
}
.screen .stories .story img:hover {
  transform: scale(1.1);
}
.screen .stories .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  border: 2px dashed #fff;
}
.screen .chats {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 445px;
  overflow-y: auto;
  padding: 10px 0;
}
.screen .chats::-webkit-scrollbar {
  width: 0;
}
.screen .chats .chat {
  display: flex;
  align-items: center;
  gap: 20px;
}
.screen .chats .chat .avatar {
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.screen .chats .chat .avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.screen .chats .chat .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.screen .chats .chat .right .name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.screen .chats .chat .right .name .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #414550;
}
.screen .chats .chat .right .name .dot.active {
  background-color: #0DDB6B;
  box-sizing: 0 0 5px #0DDB6B;
}
.screen .chats .chat .right .name .text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.screen .chats .chat .right .message {
  font-size: 14px;
  color: #414550;
}
.screen .navigation {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 85%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.screen .navigation .icon {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #4A4B4F;
}
.screen .navigation .icon.active {
  color: #fff;
}
.screen .navigation .icon:hover {
  color: #fff;
  cursor: pointer;
}
.screen .navigation .icon.home::before {
  content: "";
  position: absolute;
  inset: 2px;
  z-index: 1;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #0E0E10;
}
.screen .navigation .icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.screen .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.screen .profile .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.screen .profile .avatar::after {
  content: "";
  position: absolute;
  inset: 2px;
  z-index: 1;
  border-radius: 50%;
  background-color: transparent;
  border: 5px solid #0E0E10;
}
.screen .profile .avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.screen .profile .name {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-size: 1.5rem;
}
.screen .profile .name .icon {
  display: flex;
  align-items: center;
  background-color: #E1239F;
  border-radius: 50%;
  font-size: 18px;
  width: 20px;
  height: 20px;
  padding: 2px;
}
.screen .profile .username {
  font-size: 16px;
  color: #414550;
  margin-top: -5px;
}
.screen .followers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.screen .followers .info {
  padding: 0 20px;
}
.screen .followers .info .count {
  color: #fff;
  font-size: 18px;
}
.screen .followers .info .text {
  color: #414550;
  font-size: 15px;
}
.screen .buttons_row {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  gap: 12px;
}
.screen .buttons_row button {
  width: 130px;
  height: 48px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 500;
  background-color: #181C1F;
  color: #fff;
  cursor: pointer;
}
.screen .buttons_row button.follow {
  background-color: #E1239F;
  box-shadow: 0 0 20px rgba(225, 35, 159, 0.3333333333);
}
.screen .buttons_row .add_friend {
  width: 50px;
  height: 50px;
  background-color: #181C1F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
}
.screen .tabs {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.screen .tabs .tab {
  position: relative;
  color: #4A4B4F;
  cursor: pointer;
}
.screen .tabs .tab.active {
  color: #fff;
}
.screen .tabs .tab:hover {
  color: #fff;
}
.screen .tabs .tab.active::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #E1239F;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.screen .posts {
  margin-top: 1.5rem;
  height: 280px;
  column-gap: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  padding-top: 10px;
}
.screen .posts::-webkit-scrollbar {
  width: 0;
}
.screen .posts img {
  width: 48%;
  flex: 1;
  height: auto !important;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
